* {
  background-color: var(--bg-color);
  box-sizing: border-box;
  color: var(--txt-color);
}
:root {
  --txt-color: white;
  --bg-color: #353231;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: var(--txt-color);
}
.icon {
  width: 10vh;
  height: 10vh;
  border-radius: 50vh;
  border: var(--txt-color) solid 0.3vh;
  margin-right: 2vh;
}

h1 {
  display: inline-block;
  font-size: 48px;
}

h2 {
  margin-bottom: 1%;
  font-size: 30px;
}

p {
  font-size: 2vw;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* About Me*/
#about-me {
  margin-bottom: 20px;
  padding: 20px;
  /*height: 450px;*/
  color: var(--txt-color);
}

.bio-column {
  display: block;
  width: 20vw;
}

/* Contact Me*/
#contact-me {
  display: flex;
  justify-content: center;
  padding: 5%;
  height: 15vh;
  background-color: var(--bg-color);
  color: var(--txt-color);
}

.github {
  width: 5vh;
  height: 5vh;
  margin-right: 2vh;
}
.twitter {
  width: 4.5vh;
  height: 4.5vh;
}
/* My Projects*/
#projects {
  padding: 20px;

  height: 100%;
  background-color: var(--bg-color);
  color: var(--txt-color);
}

button {
  font-size: 3vh;
  border-radius: 0.5vh;
  padding: 2vh;
}
a:hover {
  color: aliceblue;
}
.layout-container {
  display: none;
  /*display: flex;*/
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-frame {
  flex: 0 1 30%;
  border: 2px dashed #683a96;
  min-height: 200px;
  margin-bottom: 45px;
  flex-basis: 50vh;
}

.card-title {
  position: relative;
  color: #683a96;
  font-size: 22px;
}

section {
  display: flex;
  flex-direction: column;
  margin-left: 1%;
  margin-right: 1%;
}

/*responsive design*/
@media screen and (max-width: 847px) {
  header {
    text-align: center;
    height: 140px;
  }
  p {
    font-size: 3vw;
  }
  .bio-column {
    width: 100%;

    text-align: center;
  }
  #about-me {
    flex-direction: column;
  }
}
