/* Content */

body {
  font-family: Roboto;
  background-color: #F1F1F1;
  overflow-x: hidden;
  margin: 30px 0px 30px 0px;
  padding: 0px;
}

#content {
  width: 100%;
  background-color: white;
}

/* Header */

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#package-icon {
  width: 85px;
  height: 85px;
  border-radius: 20px;
}

/* Rows */

.horizontal-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #d8d8d8;
}

.vertical-row {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #d8d8d8;
}

.vertical-row-title {
  font-weight: 500;
  margin-bottom: 5px;
}

.horizontal-row-title {
  font-weight: 500;
}

.row-content {
  color: #8e8e93;
}

a {
  color: #007aff;
  text-decoration: none;
  cursor: pointer;  
}

.changelog-row {
  display: flex;
  flex-direction: column;
}

.changelog-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 500;
  margin-bottom: 10px;
}

.changelog-changes {
  color: #8e8e93;
}

/* Image carousel */
#imageCarousel {
  white-space: nowrap;
  overflow: scroll;
  border-bottom: 1px solid #d8d8d8;
}

#imageCarousel img {
  display: inline-block;
  height: 300px;
  margin-right: 10px;
}

/* Common styling */
.rowFontSize {
  font-size: 16px;
}

.rowPadding {
  padding: 10px;
}